*{
	margin: 0;
	padding: 0;
    font-family: Montserrat;
	color:#140021;
	white-space: nowrap;
}

p{
    font-size: 13px;
}

li{
	margin-bottom: 5px;
	list-style-type: none;
}

ul{
	margin-bottom: 6px;
	margin-right: 11px;
}

.header{
    height: 80px;
}

.logo{
    margin-top: 23px;
    height: 43px;
}

.logo-image{
    
}

.logo-text{
    margin-left: 13px;
}

.logo-title{
    color: #7E02CB;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}

.logo-description{
    
}

.menu-el{
    position: static;
    font-size: 12px;
    margin: 0 6px;
}

.menu{
    margin-top: 32px;
}

.more{
    height: 4px;
}

.email{
    font-weight: bold;
    margin-top: 32px;
}

.get-work{
    margin-top: 25px;
    border: 1px solid #F09E00;
    box-sizing: border-box;
    border-radius: 5px;
	padding: 8px 13px;
    height: 30px;
    width: 124px;
    font-size: 11px;
    color: #F09E00;
    font-weight: bold;
	background-color: transparent;
}

.account{
    margin-top: 26px;
    height: 30px;
}

.user-image{
    margin-bottom: 5px;
}

.user-text{
    margin-left: 9px;
}

.user-name{
    margin-bottom: 0;
    font-size: 12px;
	font-weight: bold;
}

.balance{
    margin-top: 0;
    height: 15px;
}

.settings{
    height: 10px;
    margin: auto;
    margin-left: 9px;
}


.ham-menu{
	width: 27px;
	height: 20px;
	margin-top: 30px;
	right: 0;
}

.offer{
	margin-top:182px;
	height: 557px;
}

.news{
    left: 0;
}

.news-title{
    font-weight: 900;
    font-size: 36px;
}

.news-description{
    font-size: 16px;
    margin-top: 26px;
}

.check-games{
    font-weight: bold;
    font-size: 15px;
    width: 270px;
    height: 66px;
    color: white;
    background: #F09E00;
    border: 1px solid #F09E00;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 6px 3px rgba(240, 158, 0, 0.48);
}

.foreground{
	position: absolute;
    left: -223px;
    width: 456px;
	height: 557px;
	bottom: 0 !important;
}

.pubg{
	background: url(img/Rectangle%205.png) no-repeat right / 100% 100%;
    width: 552px;
	height: 447px;
    right: 0px;
}

.pubg-key{
	position: absolute;
	width: 175px;
	height: 75px;
	margin-left: 223px;
	margin-top: 271px;
}

.pubg-key__title{
	font-size: 15px;
	color: white;
	font-weight: 900;
}

.pubg-key__description{
	font-size: 12px;
	color: white;
}

.pubg-key__price{
	font-size: 13px;
	color: white;
	font-weight: bold;
	margin-bottom: 0;
}

.finger{
	position: absolute;
	width: 25px;
	margin-left: 167px;
	margin-bottom: 50px;
}

.special-for-you{
	
}

.special-for-you__title-text{
	margin-top: 97px;
	font-weight: 900;
	font-size: 25px;
	white-space: nowrap;
	border-bottom: 1px solid #000000;
}

.special-for-you__title-row{
	margin-bottom: 46px;
}

.special-for-you__row-offset{
	margin-bottom: 30px;
}

.game-card{
	background: white;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	height:168px;
	width:370px;
}

.picture{
	flex: 0 0 50%;
    max-width: 50%
}

.picture-cyberpunk{
	background: url(img/Cyberpunk-back.png) no-repeat right / 100% 100%;
	height: 100%;
	width: 80%;
	position: relative;
}

.picture-gta{
	background: url(img/Gta-back.png) no-repeat right / 100% 100%;
	height: 100%;
	width: 80%;
	position: relative;
}

.picture-pubg{
	background: url(img/Pubg-back.png) no-repeat right / 100% 100%;
	height: 100%;
	width: 80%;
	position: relative;
}

.foreground-game{
	height: 100%;
	margin-left: 28px;
}

.game-info{
	flex: 0 0 50%;
    max-width: 50%;
	padding-top: 17px;
	padding-left: 12px;
	padding-bottom: 12px;
}

.game-info__title{
	margin: auto;
	font-weight: 900;
	font-size: 17px;
	margin-bottom: 6px;
	white-space: nowrap;
}

.info-categories{
	font-size: 12px;
}

.info-category{
	color: #646986;
	font-size: 12px;
	white-space: nowrap;
}

.info-categories-values{
	font-size: 12px;
	white-space: nowrap;
}

.info-category-value{
	color: #646986;
	font-size: 12px;
}

.game-price{
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 200%;
	font-weight: bold;
}

.game-footer{
	margin-right: 12px;
	justify-content: space-between;
}

.arrow{
	width: 20px;
	height: 17px;
	margin-top: 5px;
}

.special-for-you__menu{
	margin-top: 52px;
}

.special-for-you__menu-button{
	display: block;
	margin: 0 52px;
}

.special-for-you__menu-button.active {
	color:#140021;
	border-bottom: 1px solid #7E02CB;
}

.special-for-you__menu-button{
	color:#140021; 
	border-bottom: 0px solid #7E02CB;
}

.special-for-you__menu-button:hover{
	color:#140021;
	text-decoration: none;
}

.catalog{
	
}

.catalog-title{
	margin-top: 118px;
	font-weight: 900;
	font-size: 25px;
	color:#140021; 
	border-bottom: 1px solid #140021;
	margin-bottom: 45px;
}

.catalog__row-offset{
	margin-bottom: 41px;
}

.game-card-2{
	width:270px;
	height:340px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin: auto 0;
	margin-top: 0;
}

.catalog-img-size{
	height: 134px;
	width: 115px;
	margin-bottom: 13px;
}

.game-info-2{
	width: 100%;
	padding-top: 17px;
	padding-left: 12px;
	padding-bottom: 12px;
}

.feedback{
	
}

.feedback-title{
	margin-top: 69px;
	font-weight: 900;
	font-size: 25px;
	color:#140021; 
	border-bottom: 1px solid #140021;
	margin-bottom: 52px;
}

.feedback-comment{
	margin-bottom: 46px;
}

.avatar{
	margin-right: 12px;
	height: 72px;
	width: 72px;
}

.feedback-comment__rect{
	padding-left: 13px;
	padding-top: 1px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.nick{
	font-size: 10px;
	font-weight: 700;
}

.feedback-comment__text{
	font-size: 12px;
	white-space: normal;
}

.violet{
	font-size: 50px;
	line-height: 200%;
	margin-right: 16px;
	font-weight: 900;
	color: #7E02CB;
}

.feedback-info{
	line-height: 200%;
	font-size: 13px;
	height: 26px;
	margin: auto 0;
}

.feedback .nav .container .d-xs-block.d-lg-flex{
	margin-bottom: 88px;
}

.footer{
	color: white !important;
	background: #140027;
	padding: 0 auto;
	padding-top: 135px;
	padding-bottom: 135px;
}

.get-work-2{
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: auto;
    margin-left: 35px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    background: transparent;
}

.logo-2{
    margin-top: 23px;
    height: 43px;
}

.logo-title-2{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}

.logo-description-2{
    height: 13px;
	color:white;
}

.menu-el-2{
    position: static;
    font-size: 12px;
    margin: 0 6px;
	color: white;
}

.email-2{
    color:white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 32px;
    margin-left: 50px;
}

.menu-2{
    margin-top: 32px;
    margin-left: 62px;
}

.more-2{
    height: 4px;
}

.to-start{
	height: 27px;
	width:21px;
	margin: auto;
	margin-left: 61px;
	cursor:pointer;
}

@media screen and (max-width: 991px){
	.logo{
		margin-right: 0;
	}
	.offer{
		height: 835px;
	}
	.header{
		margin-bottom: 115px;
	}
	.pubg{
		width: 100% !important;
		margin-top: 121px !important;
	}
	.foreground{
		left: 0;
	}
	.pubg-key{
		width:213px;
		height:138px;
		margin-left: 486px;
		margin-Top:257px;
	}
	
	.feedback-comment{
		margin-bottom: 46px;
	}
	.feedback-title{
		margin-top: 46px;
		margin-bottom: 46px;
	}
	.catalog-title{
		margin-top: 42px;
		margin-bottom: 46px;
	}
	.menu-2{
		margin-left: 0;
	}
	
	.email-2{
		margin-top: 22px;
		margin-left: 0;
	}
	
	.get-work-2{
		margin-left: 0;
		margin-top: 61px;
	}
	
	.to-start{
		margin: 0;
		position: absolute;
		right: 0;
		bottom:0;
	}
}

@media screen and (max-width: 767px){
	.user-image{
		height: 25px;
		width: 25px;
	}
	.email{
		margin-left: 0;
		height: 56px;
		top: 100%;

	}
	.offer{
		height: 735px;
	}
	.feedback-title{
		margin-top: 46px;
	}
	.special-for-you__title{
		margin-top: 46px;
	}
	.special-for-you__menu-button{
		margin: 0 20px;
	}
	.game-info__title{
		font-size: 14px;
	}
	.game-card{
		width: 288px;
		height: 131px;
	}
	.game-price{
		font-size: 14px;
	}
	.game-info .d-flex ul li{
		font-size: 10px;
		margin-bottom: 0;
	}
	.foreground{
		height: 250px;
		width: 200px;
		top: 0;
		margin-left: 25%;
	}

	.pubg{
		height: 450px;
	}
	
	.pubg-key{
		width:213px;
		height:138px;
		margin: auto;
		margin-Top:300px;
	}
	
	.footer{
		padding-top: 60px;
		padding-left: 61px;
		padding-bottom: 54px;
		padding-right: 38px;
	}
}

@media screen and (max-width: 575px){
	.ham-menu{
		margin-left: 0;
		right: auto;
	}
	.catalog-title{
		margin-top: 49px;
	}
	.news-title {
		font-size: 25px;
	}
	.news-description{
		font-size: 13px;
	}
	
	.offer{
		margin-top: 85px;
		
	}
	.special-for-you__menu-button{
		font-size: 12px;
		margin: 0 auto;
	}
	.footer{
		padding-top: 58px;
		padding-left: 0;
		padding-bottom: 24px;
		padding-right: 0;
	}
	.logo-2{
		width: 239px;
		height: 40px;
		margin: 0 auto;
	}
	
	.email-2{
		width: 158px;
		margin: 0 auto;
		margin-top: 22px;
	}
	
	.get-work-2{
		position: relative;
		display: block;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 52px;
	}
	
	.menu-2-and-more-2{
		width: 258px;
		margin: 0 auto;
		margin-top: 32px;
	}
	
	.to-start{
		position: relative;
		width: 21px;
		height: 26.5px;
		margin: 0 auto;
		top: 175px;
	}
}